{% extends "base.html" %}

{% block content %}

<p class="h3">Create a new playlist.</p>
<div class="container col-6">
<form action="/playlists">
    <input class="form-control opacity-75" type="text" name="name" placeholder="Playlist Name" required>
    <input class="form-control opacity-75" type="text" name="description" placeholder="Description">
    <button class="btn btn-light mt-1 opacity-75">Create!</button>
</form>
    <a href="/new"><button class="btn btn-light mt-1 opacity-75 btn-sm">View Saved Playlists</button></a>
</div>

{% endblock %}